/* .column__margin-left {
    margin-left: 85px;
}

.column__margin-right {
    margin-right: 85px;
}

.column__first {
    margin-top: 100px;
}

.column__paragraph {
    margin-top: 10px;
}

.column__list-item {
    margin-top: 20px;
}

.column__article {
    margin-top: 30px;
}

.column__item {
    margin-top: 45px;
}

.column__last {
    margin-bottom: 120px
} */



.container__flex {
    color: white;
    max-width: 500px;
    padding-left: 40px;
    padding-top: 20%;
}

.article {}





.image {
    width: 100%;
    
}
.image--bigger{
    transform: scale(1.15);
}

.gallery {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    grid-template-areas:
        "big      big      big      big      small-1  small-1"
        "big      big      big      big      small-1  small-1"
        "big      big      big      big      small-2  small-2"
        "big      big      big      big      small-2  small-2"
        "medium-1 medium-1 medium-1 medium-2 medium-2 medium-2"
        "medium-1 medium-1 medium-1 medium-2 medium-2 medium-2"
        "medium-1 medium-1 medium-1 medium-2 medium-2 medium-2"
}

.gallery__item {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: 100%;
}

.gallery__item:focus,
.gallery__item:hover {
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.5);
}

.gallery__item-1 {
    grid-area: big;
}

.gallery__item-2 {
    grid-area: small-1;
}

.gallery__item-3 {
    grid-area: small-2;
}

.gallery__item-4 {
    grid-area: medium-1;
}

.gallery__item-5 {
    grid-area: medium-2;
}

.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.5);
}

.bg-image {
    background-image: url(../img/tomatos-parts.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 90%;
    background-origin: content-box;
}

.services__item {
    width: 400px;
    height: 100px;
    background-color: #fff;
    display: flex;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.5);

}

.services__item-name {
    width: 300px;
    border-right: 1px solid #9d9d9d;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    color: rgb(38, 38, 38);
}

.services__item-icon {
    width: 99px;
    height: 100%;
    text-align: center;
    line-height: 100px;
}

.services__item-icon img {
    vertical-align: middle;
}











.gallery__h2 {
    color: #262626;
    font-size: 90px;
    font-weight: 700;
    text-align: center;
    /* <-- */
    margin-top: 50px;
    /* <-- */
}

.subscribe__h2 {
    color: #262626;
    font-size: 40px;
    font-weight: 700;
}

.blog__h2 {
    font-size: 90px;
    font-weight: 700;
    color: white;
    text-align: center;
}

.contact__h2 {
    color: #262626;
    font-size: 90px;
    font-weight: 700;
    text-align: center;
    margin-top: 50px;
}

.home__h1 {
    font-size: 60px;
    font-weight: 800;
    font-family: "Raleway";
    padding-bottom: 20px;
}