.image {
    width: 100%;
}
.image--bigger{
    transform: scale(1.20);
}

.gallery {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    grid-template-areas:
        "big      big      big      big      small-1  small-1"
        "big      big      big      big      small-1  small-1"
        "big      big      big      big      small-2  small-2"
        "big      big      big      big      small-2  small-2"
        "medium-1 medium-1 medium-1 medium-2 medium-2 medium-2"
        "medium-1 medium-1 medium-1 medium-2 medium-2 medium-2"
        "medium-1 medium-1 medium-1 medium-2 medium-2 medium-2"
}
@media only screen and (max-width: 768px) {
    .gallery {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "big      big"
            "big      big"
            "small-1  small-2"
            "medium-1 medium-2"
    }
    @media o
}

@media only screen and (max-width: 576px) {
    .gallery {
        grid-template-columns: 1fr;
        grid-template-areas: 
            "big"
            "small-1"
            "small-2"
            "medium-1"
            "medium-2";
    }
}

.gallery__item {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: 100%;
}

.gallery__item:focus,
.gallery__item:hover {
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.5);
}

.gallery__item-1 {
    grid-area: big;
}

.gallery__item-2 {
    grid-area: small-1;
}

.gallery__item-3 {
    grid-area: small-2;
}

.gallery__item-4 {
    grid-area: medium-1;
}

.gallery__item-5 {
    grid-area: medium-2;
}

.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.5);
}

.service {
    background-color: #fff;
    display: grid;
    grid-template-columns: 3fr 1fr;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.5);
    height: 100px;
    max-width: 400px;
}

.service__name {
    border-right: 1px solid #9d9d9d;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    color: rgb(38, 38, 38);
}

.service__icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.service__img{
    max-width: 100%;
    max-height: 100%;
}

