
.blog{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
	gap: 28px;
	width: 100%;
}
@media (max-width: 768px) {
	.blog{
		grid-template-columns: 1fr 1fr;
	}
}
@media (max-width: 576px) {
	.blog{
		grid-template-columns: 1fr;
		justify-items: center;
	}

}
.blog__image{
	height: 312px;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
	position: relative;
	max-width: 375px;
	width: 100%;
}
.blog__image-1{
	background: url(../img/blog-1.png) center no-repeat content-box;
}
.blog__image-2{
	background: url(../img/blog-2.png) bottom no-repeat content-box;
}
.blog__image-3{
	background: url(../img/blog-3.png) center no-repeat content-box;
}
.blog__date{
	width: 60px;
	height: 60px;
	background-color:rgba(38, 38, 38, 0.5);
	border-radius: 5px;
	margin-top: 30px;
	margin-left: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.blog__day{
    font-family: 'Raleway', sans-serif;
	font-size: 32px;
	font-weight: 700;
	color: white;
}
.blog__month{
    font-family: 'Raleway', sans-serif;
	font-size: 21px;
	font-weight: 700;
	color: white;
}
.blog__gradient{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 150px;
	background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1));
	display: flex;
	flex-direction: column;
	padding-left: 23px;
	padding-bottom: 23px;
	padding-right: 43px;
	box-sizing: border-box;
	justify-content: flex-end;
}
.blog__a{
	font-size: 20px;
	color: white;
	font-weight: 700;
	text-decoration: none;
}
.blog__a:hover{
	color: #FF6033;
	text-decoration: underline;
}
.blog__a:hover{
	text-decoration: underline;
}
.blog__author{
	font-size: 14px;
	color: white;
	margin-top: 23px;
}