.column{
    display: flex;
    flex-direction: column;
 }
 
.column--center {
     align-items: center;
}
.column--right {
    align-items: flex-end;
}
    
.column--group {
    justify-content: center;
}


