
.nav-fixed {
	position: fixed;
	height: 100px;	
	width: 100vw;
	transition: 300ms;
	padding-top: 30px;
	z-index: 100;
}
.nav-fixed__flex{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.nav-fixed__ul{
	display: flex;
    justify-content: space-between;
    width: 70%;
    max-width: 560px;
}
.nav-fixed__li{
	display: inline;
}
.nav-fixed__a{
	display: block;
	box-sizing: border-box;
	float: left;
	text-decoration: none;
	color: #262626;
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	height: 25px;
	border-top: transparent solid 3px;
	padding-top: 9px;
	padding-left: 2px;
	padding-right: 2px;
}	
.nav-fixed__a:hover,.nav-fixed__a:focus{
	border-top: #ff6033 solid 3px;
	transition: 1s;
}

.nav-fixed--smaller{
	background-color: rgba(255, 255, 255, 0.7);
	height: 70px; 								
	padding-top: 10px;
}

.scroll-fixed {
	position: fixed;
	margin: 0 auto;
	display: block;
	left: 0;
	right: 0;
	bottom: 10vh;
	animation-name: grow;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}
@keyframes grow {
	0% 		{transform: scale(1);}
	50%		{transform: scale(1.3);}
	100%	{transform: scale(1);}
}



