.page{

}

    .page__about-picture {
        grid-column: span 6;
    }
    .page__about-description {
        grid-column: span 6;
        padding-left: 15%;
    }

    .page__services-list{
        grid-column: span 6;
        max-width: 500px;
        margin: 80px auto 0;
    }
    .page__services-picture{
        background-image: url(../img/tomatos-parts.png);
        background-repeat: no-repeat;
        background-position: right;
        background-size: contain;
        background-origin: content-box;
        grid-column: span 6;
        padding-left: 10%;
    }

    .contact__form{
        grid-column: span 6;
        max-width: 500px;
    }
    .contact__address{
        grid-column: span 6;
        padding-left: 10%;
    }