.page{

}

    .page__about-picture {
        grid-column: span 6;
    }
    .page__about-description {
        grid-column: span 6;
        padding-left: 15%;
    }

    @media (max-width: 991px) {
        .page__about-picture {
            grid-column: span 12;
            max-width: 400px;
            justify-self: center;
        }
        .page__about-description {
            grid-column: span  12;
            grid-row: 1;
            margin-bottom: 40px;
            justify-self: center;
            padding-left: 0;  
        }
    }

    .page__services-list{
        grid-column: span 6;
        max-width: 500px;
        margin: 80px auto 0;
    }
    .page__services-picture{
        background-image: url(../img/tomatos-parts.png);
        background-repeat: no-repeat;
        background-position: right;
        background-size: contain;
        background-origin: content-box;
        grid-column: span 6;
    }

    @media (max-width: 1200px) {
        .page__services-picture{
            grid-column: 8 /13;
        }
        .page__services-list{
            margin-top: 0;
        }

    }
    @media (max-width: 991px) {
        .page__services-picture{
            grid-column: span  12;
            grid-row: 1;
            background-position: center;
            margin-bottom: 40px;
            justify-self: center;
            min-height: 300px;
        }
        .page__services-list{
            grid-column: span  12;
            grid-row: 2;
        }
    }

    .contact__form{
        grid-column: span 6;
        max-width: 500px;
        width: 100%;
    }
    .contact__address{
        grid-column: span 6;
        padding-left: 10%;
    }

    @media  (max-width: 768px) {
        .contact__form{
            grid-column: span  12;
            grid-row: 2;
            justify-self: center;
        }
        .contact__address{
            grid-column: span  12;
            grid-row: 1;
            background: none;
            margin-bottom: 40px;
            justify-self: center;
        }
    }