.text {
	font-family: 'Raleway', 'Arial', sans-serif;
    font-size: 17px;
    font-weight: 300;
}
.text__title {
    font-size: 60px;
    font-weight: 900;
}

.text__heading {
    font-size: 90px;
    font-weight: 700;
}
@media only screen and (max-width: 1200px) {
    .text__heading{
        font-size: 80px;
    }
}
@media only screen and (max-width: 576px) {
    .text__heading{
        font-size: 60px;
    }
}
    .text__heading--small {
        font-size: 40px;
    }

.text__paragraph {
    line-height: 1.4;
}

.text__strong{
    font-weight: 700;
}



