.wrapper {
    max-width: 1172px;
    padding-right: 40px;
    padding-left: 40px;
    margin-right: auto;
    margin-left: auto;
    box-sizing: content-box;
}

.wrapper__grid{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    width: 100%;
}

