.wrapper {
    max-width: 1172px;
    padding-right: 2%;
    padding-left: 2%;
    margin-right: auto;
    margin-left: auto;
    box-sizing: content-box;
}

.wrapper__split {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
